<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
</head>
<body ng-app="deferredApp" ng-controller="mainController">
    <h2>Creating a Deferred App</h2>
    <button ng-click="test()">Click here</button>
    <input type="checkbox" ng-model ="fail"/>FAIL
    <button ng-click="loadUser()">run</button>
    <script src="angular.js"></script>
    <script src="main.js"></script>
    <script src="scratchPad.js"></script>
</body>
</html>